@mixin colors($background-color, $text-color, $icon-color) {
  background-color: $background-color !important;
  fill: $icon-color !important;
  color: $text-color !important;
}

.color {
  &--flat &--primary {
    &:hover {
      background-color: RGBA(var(--color-primary), 0.2);
    }
  }
  &--primary {
    @include colors(
      var(--color-primary),
      var(--color-white),
      var(--color-white)
    );
  }

  &--accent {
    @include colors(
      var(--color-accent),
      var(--color-white),
      var(--color-white)
    );
  }

  &--success {
    @include colors(
      var(--color-success),
      var(--color-white),
      var(--color-white)
    );
  }

  &--warning {
    @include colors(
      var(--color-yellow),
      var(--color-white),
      var(--color-white)
    );
  }

  &--default {
    @include colors(var(--color-gray), var(--color-white), var(--color-white));
  }

  &--light-gray {
    @include colors(
      rgba(var(--color-light-gray-rgb), 0.8),
      var(--color-white),
      var(--color-main)
    );
  }
}
