:root {
  //Font
  --font-regular: "Open Sans", sans-serif;
  --font-heading: "Poppins", sans-serif;

  //Componet Sizes
  --navbar-height: 70px;

  --color-background: #ffffff;
  --color-background-rgb: 255, 255, 255; //#ffff

  --color-main: #121212;
  --color-main-rgb: #121212;
  --color-primary: #ffa41b;
  --color-secondary: #000839;
  --color-accent: #f04b4b;

  --color-blue: #2288ff;
  --color-light-gray: #eaeaea;
  --color-dark-gray: gray;
  --color-dark: #121212;
  --color-red: #bf3723;
  --color-white: #ffffff;
  --color-yellow: #ffd700;

  --color-green: #0ace03;
  --color-orange: #f86a00;
  --color-violet: #fe01fc;

  --snackbar-elevation: 0px 0px 25px 3px rgba(0, 0, 0, 0.1);
}

::selection {
}
