.dropzone {
  position: relative;
  display: flex;
  height: 380px;
  width: 100%;
  background-color: var(--color-light-gray);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  flex-direction: column;

  &__base {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0;
  }

  &__body {
    @include flex-middle;
    flex-direction: column;
    height: calc(100% - 120px);
    width: 100%;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 13px;
    }
  }

  &__uploaded {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 10px;

    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__thumbnail {
    position: relative;
    overflow: hidden;
    height: 120px;
    width: 120px;
    border-radius: 8px;
    border: 3px solid transparent;
    background-color: var(--color-light-gray);
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    @include transition;

    .thumb-blur {
      position: absolute;
      height: 120%;
      width: 120%;
      object-fit: cover;
      left: 0;
      right: 0;
      filter: blur(5px);
      z-index: 0;
    }

    .thumb-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .thumb-exit {
      @include flex-middle;
      height: 23px;
      width: 23px;
      opacity: 0;
      border-radius: 100%;
      background-color: var(--color-accent);
      top: 5px;
      right: 5px;
      position: absolute;
      @include transition;

      svg {
        fill: var(--color-white);
        height: 14px;
      }
    }

    .thumb-img {
      position: relative;
      height: 100%;
      margin: 0 auto;
    }

    &:hover .thumb-exit {
      opacity: 1;
    }
  }
}

.thumb-active {
  border: 3px solid var(--color-primary);
}
