.profile-about {
  &__tabs {
    border-right: 1px solid rgba(var(--color-dark-rgb), 0.05);
    padding-right: 20px;
    height: 100%;
  }

  &__content {
    padding-left: 20px;
  }
  &__list {
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }

  &__icon {
    margin-right: 20px;
    font-size: 26px;
    color: var(--color-main);
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);

    .label {
      font-size: 13px;
      font-weight: 600;
    }

    .value {
      font-size: 17px;
    }
  }

  &__action {
    margin-left: auto;
  }
}
