.menu {
  position: absolute;
  top: 100%;
  width: 340px;
  min-width: 340px;
  right: 0;
  z-index: 100;
  margin-top: -5px;
  background-color: var(--color-white);
  padding: 10px 5px;
  border-radius: 4px;
  box-shadow: var(--menu-elevation);
  border: var(--card-border);

  &__profile {
    border-radius: 5px !important;
    padding: 10px;

    .profile-icon__photo {
      min-height: 60px !important;
      min-width: 60px !important;
    }

    .profile-icon__name {
      font-size: 18px;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    text-decoration: none;
    color: var(--color-main-rgb);
    border-radius: 5px;
    &:hover {
      background-color: rgba(var(--color-main-rgb), 0.05);
    }
  }

  &__link-icon {
    @include flex-middle;
    margin-right: 8px;
    background-color: rgba(var(--color-main-rgb), 0.08);
    padding: 5px;
    border-radius: 100%;

    svg {
      @include svg-size(26px);
    }
    //   background-color: rgba(var(--color-));
  }

  &__link-text {
    font-weight: 600;
  }
}
