$systemColors: (
  "main": var(--color-main),
  "main-light": var(--color-main-light),
  "primary": var(--color-primary),
  "success": var(--color-success),
  "warning": var(--color-yellow),
  "accent": var(--color-accent),
  "default": var(--color-gray),
  "light-gray": var(--color-light-gray),
);

$systemTextColors: (
  "main": var(--color-main),
  "main-light": var(--color-main-light),
  "primary": var(--color-primary),
  "success": var(--color-success),
  "warning": var(--color-yellow),
  "accent": var(--color-accent),
  "default": var(--color-gray),
  "light-gray": var(--color-light-gray),
);

@mixin generateColors() {
  .color {
    @each $name, $color in $systemColors {
      &--#{$name} {
        background: #{$color} !important;
      }
    }
  }
}

@mixin generateTextColors() {
  .text {
    @each $name, $color in $systemTextColors {
      &--#{$name} {
        color: #{$color} !important;
      }
    }
  }
}

@include generateColors();
@include generateTextColors();
