:root {
  //Font
  --font-regular: "Open Sans", sans-serif;
  --font-heading: "Poppins", sans-serif;

  //Componet Sizes
  --navbar-height: 70px;

  --color-background: #ffffff;
  --color-background-rgb: 255, 255, 255; //#ffff
  --color-background-2: #f8f8f8;
  --color-background-2-rgb: 248, 248, 248;

  --color-main: #121212;
  --color-main-rgb: 18, 18, 18;

  --color-main-light: #222222;
  --color-main-light-rgb: 34, 34, 34;

  --color-primary: #ffa41b;
  --color-primary-rgb: 255, 164, 27;
  --color-primary-dark: #e98f08;
  --color-primary-dark-rgb: 233, 143, 8;
  --color-secondary: #000839;
  --color-secondary-rgb: 0, 8, 57;
  --color-accent: #f04b4b;
  --color-accent-rgb: 240, 75, 75;
  --color-success: #0abd03;
  --color-success-rgb: 10, 189, 3;

  --color-blue: #2288ff;
  --color-blue-rgb: 34, 136, 255;
  --color-light-gray: #eaeaea;
  --color-light-gray-rgb: 234, 234, 234;
  --color-light-gray-2: #f6f6f6;
  --color-light-gray-rgb-2: 246, 246, 246;
  --color-dark-gray: gray;
  --color-dark-gray-rgb: 128, 128, 128;
  --color-dark: #121212;
  --color-dark-rgb: 18, 18, 18;
  --color-red: #bf3723;
  --color-red-rgb: 191, 55, 35;
  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;
  --color-yellow: #ffd700;
  --color-yellow-rgb: rgb(255, 215, 0);

  --color-green: #0ace03;
  --color-green-rgb: 10, 206, 3;
  --color-orange: #f86a00;
  --color-orange-rgb: 248, 106, 0;
  --color-violet: #fe01fc;
  --color-violet-rgb: 254, 1, 252;

  --color-subtle-text: #c4c4c4;
  --color-subtle-text-rgb: 196, 196, 196;

  --card-border: 1px solid rgba(var(--color-dark-gray-rgb), 0.2);
  --active-background: rgba(var(--color-primary-rgb), 0.05);
  --active-color: var(--color-primary);
  --active-fill: var(--color-primary);

  --snackbar-elevation: 0px 0px 25px 3px rgba(var(--color-dark) 0.1);
  --menu-elevation: 0px 0px 20px rgba(var(--color-dark), 0.05);
  --search-bar-elevation: 0px 4px 20px rgba(0, 0, 0, 0.05),
    0px -4px 20px rgba(0, 0, 0, 0.05);
  --select-elevation: 0px 4px 20px rgba(0, 0, 0, 0.05),
    0px -4px 20px rgba(0, 0, 0, 0.05);
  --preview-image-elevation: 0px 0px 40px rgba(0, 0, 0, 0.5);

  //New
  // Alpha colors
  --color-alpha-1: #eaedf0;
  --color-alpha-2: #a6b0c3;
  --color-alpha-3: #808a9d;
  --color-alpha-4: #58667e;

  // Input colors
  --color-input: #f6f6f6;
  --color-input-hint: #666666;

  // Gray
  --color-gray: #bbbbbb;
  --color-gray-light: #dddddd;

  // System colors
  --color-success: #16c784;
  --color-success-shade: #ebfcf5;
  --color-success-text: #fff;

  --color-warning: #ffc23f;
  --color-warning-shade: #fff3d9;
  --color-warning-text: #d69200;

  --color-info: #3bd8f7;
  --color-info-shade: #cdf7ff;
  --color-info-text: #fff;

  --color-danger: #ff492d;
  --color-danger-shade: #fde9e6;
  --color-danger-text: #fff;

  --color-secondary: #3c3c3c;
  --color-secondary-shade: #f1f1f1;
  --color-secondary-text: #fff;

  --color-special: #f9bd00;
  --color-special-shade: #fff3d9;

  --card-radius: 5px;
}

::selection {
}
