.pagination {
  display: flex;
  list-style: none;

  li {
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    user-select: none;
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:first-child,
    &:last-child {
    }
  }

  a {
    display: block;
    padding: 10px 15px;
    outline: none;
  }

  .active {
    background: var(--color-primary);
    color: var(--color-white);
  }

  .disabled {
    background: rgba(var(--color-light-gray-rgb), 0.5);
    border: var(--color-dark-gray);
  }
}
