button {
  font: inherit;
}

.btn {
  &--primary {
    background: var(--color-primary);
    padding: 18px 20px;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
  }

  &--links {
    font: inherit;
    color: var(--color-blue);
    text-decoration: underline;
    font-weight: 500;
  }

  &--icon {
    @include flex-middle();
    height: 50px;
    width: 50px;
    background-color: var(--color-light-gray);
    border-radius: 100%;
    @include transition;

    &:hover {
      background-color: rgba(#{var(--color-light-gray)}, 0.6);
    }
  }
}
