.card {
  &__header {
  }

  &__body {
  }

  &__action {
  }

  &__action-button {
  }

  &--small {
    height: 20px;
  }

  &--big {
    height: 69px;
  }
}

.card {
}

.card--big {
}

.card__header {
}

.card__body {
}

.card__action {
}

.inp-group {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__tip {
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.inp {
  &__left-icon {
  }

  input {
    border: 1px solid var(--color-primary);
    padding: 14px 20px;
    width: 100%;
    border-radius: 8px;
  }

  &__right-icon {
  }
}
