.inp-group {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.inp {
  &__left-icon {
  }
  &--primary {
    input,
    select {
      border: 1px solid var(--color-primary);
      padding: 14px 20px;
      width: 100%;
      border-radius: 8px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position: 98%;
      background-position-y: 50%;
    }
  }

  &__right-icon {
  }

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__tip {
  }

  &__error {
    color: var(--color-accent);
    font-size: 13px;
    margin-top: 5px;
  }

  &--checkbox {
    user-select: none;
    a {
      color: var(--color-blue);
    }

    input[type="checkbox"] {
      font-size: 50px;
    }
  }
}

.is-error {
  input,
  select {
    border-color: var(--color-accent);
  }
}
